@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', system-ui, sans-serif;
    @apply scroll-style;
  }
  body {
    flex: 1 0 auto;
  }
}

@layer utilities {
  .scroll-style {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #e5e7eb;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: 0px;
  }
}